---
layout: default
---


<article class="grid gap-6">
  <header class="wireframe bg-gray-200 h-[3rem]"></header>
  <main class="grid grid-flow-row grid-cols-[1fr_minmax(0px,1280px)_1fr] gap-6 gap-y-8">
    <section class="grid grid-cols-12 col-start-2 gap-4 lg:gap-6 gap-y-8 content-start">
      <h1 class="col-span-12 text-4xl mt-12">{{ resource.data.title }}</h1>
{% comment %}
      <p class="text-gray-600">Published on <time datetime="{{ resource.date }}">{{ resource.date | date: "%B %e, %Y" }}</time></p>
{% endcomment %}

      <div class="text-xl col-span-12">
      {{ content }}
      </div>
    </section>
  </main>
</article>

<post-footer>
  {% if resource.previous_resource %}
   <a href="{{ resource.previous_resource.relative_url }}#bottom">
     <strong>Next:</strong> {{ resource.previous_resource.data.title }}
   </a>
  {% endif %}
  {% if resource.next_resource %}
   <a href="{{ resource.next_resource.relative_url }}#bottom">
     <strong>Previous:</strong> {{ resource.next_resource.data.title }}
   </a>
  {% endif %}
  <a href="#top">🚀 Back to top</a>
</post-footer>
