<header class="w-full h-96 bg-[url('{{ '/images/freshwater-pool.jpg' | relative_url }}'] bg-cover bg-center flex justify-center items-center">
  {% comment %}  <img src="{{ '/images/freshwater-pool.jpg' | relative_url }}" alt="Logo" />{% endcomment %}
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
  </ul>
</nav>
